<div>
  <div class="m-10">
    <img src="download-removebg-preview.png" alt="" class="w-36" />
  </div>
  <div
    class="w-full max-sm:h-fit h-[40pc] flex items-center max-sm:items-start justify-center"
  >
    <div
      class="bg-white max-sm:mx-5 h-fit p-3 rounded-xl shadow-xl flex flex-col gap-1 w-96"
    >
      <h1 class="text-2xl font-bold">Sign in</h1>
      <p class="text-[#969696]">Stay updated on your professional world</p>
      <form action="" class="my-6 flex flex-col gap-6" [formGroup]="form">
        <p class="flex flex-col gap-1">
          <label for="email" class="text-[#929292]">Email or Phone</label>
          <input
            type="email"
            id="email"
            class="border-[#ddd] border-[2px] rounded-md p-2 h-10"
            placeholder="email"
            formControlName="email"
          />
        </p>
        <p class="flex flex-col gap-1">
          <label for="email" class="text-[#929292]">Password</label>
          <input
            type="password"
            id="password"
            class="border-[#ddd] border-[2px] rounded-md p-2 h-10"
            placeholder="password"
            formControlName="password"
          />
        </p>
      </form>
      <div>
        <p class="text-blue-600 font-bold hover:underline cursor-pointer">
          Forget Password ?
        </p>
      </div>

      <button
        class="bg-blue-800 hover:bg-blue-900 transition-all duration-300 p-3 rounded-full my-4 flex justify-center"
        (click)="onClick()"
      >
        <h1 class="text-white font-bold">Sign in</h1>
      </button>

      <div class="flex items-center gap-3">
        <div class="border-t-2 border-[#ddd] border-solid flex-grow"></div>
        <span class="text-gray-500">or</span>
        <div class="border-t-2 border-[#ddd] border-solid flex-grow"></div>
        <div></div>
      </div>
      <button
        class="border-[#ddd] transition-all duration-300 hover:bg-[#ddd] border-solid border-[3px] rounded-full my-4 flex justify-center"
      >
        <div class="font-bold flex items-center">
          <img src="download-removebg-preview (4).png" alt="" class="w-20" />
          <h1>Sign in with Apple</h1>
        </div>
      </button>

      <div class="text-center">
        <h1>
          New to LinkedIn?
          <span class="text-blue-500 hover:underline cursor-pointer font-bold"
            >Join now</span
          >
        </h1>
      </div>
    </div>
  </div>
</div>
