<div
  class="bg-[rgba(0.5,0.5,0.5,0.5)] h-full overflow-hidden w-full fixed z-50 top-0 flex justify-center items-center"
>
  <div class="bg-white w-1/2 rounded-xl p-3 max-sm:w-full">
    <div class="flex items-center justify-between">
      <div
        class="gap-4 hover:bg-[#ddd] p-2 rounded-full transition-all duration-200 cursor-pointer flex items-center"
      >
        <img
          src="WhatsApp Image 2024-10-20 at 21.44.22_3cca6ed1.jpg"
          alt=""
          class="object-cover w-20 h-20 rounded-full"
        />
        <div class="flex flex-col">
          <h1 class="font-bold text-xl">Mohamed Osama</h1>
          <p>Post to Anyone</p>
        </div>
      </div>
      <div
        class="hover:bg-[#ddd] cursor-pointer p-2 rounded-full transition-all duration-200"
        (click)="onCLick()"
      >
        <h1>X</h1>
      </div>
    </div>
    <form action="" class="p-3" [formGroup]="form">
      <input
        type="text"
        name="Title"
        formControlName="Title"
        placeholder="What do you want to talk about?"
        class="w-full h-40 px-3 flex items-center justify-center"
        #myInput
      />
      <div class="flex justify-end">
        <button
          class="bg-blue-400 hover:bg-blue-600 duration-200 transition-all p-2 w-20 h-11 rounded-full my-4"
          (click)="createPost()"
        >
          Post
        </button>
      </div>
    </form>
  </div>
</div>
