<div class="bg-white p-3 rounded-md">
  <h1 class="text-sm text-[#858585] text-center">
    Mohamed, unlock your full potential with LinkedIn Premium
  </h1>
  <div class="flex justify-center gap-6 my-4">
    <img
      src="WhatsApp Image 2024-10-20 at 21.44.22_3cca6ed1.jpg"
      alt="Profile.ong"
      class="object-cover object-center w-20 h-20 rounded-full"
    />
    <img
      src="https://media.licdn.com/dms/image/v2/D5610AQGmAgD3Px9FNA/image-shrink_1280/image-shrink_1280/0/1710164648750?e=1737558000&v=beta&t=UkiRot6OtpR19GAgnuxSH2xTXrf9nb_5epI-EzaCI2s"
      alt="Profile.ong"
      class="object-cover object-center"
    />
  </div>
  <h1 class="text-center text-[#858585]">
    See who's viewed your profile in the last 365 days
  </h1>
  <div class="flex justify-center my-3">
    <button class="text-blue-500 border-blue-500 border-[2px] p-2 rounded-full">
      Try for free
    </button>
  </div>
</div>
<div class="grid grid-cols-3 text-center my-2">
  @for (links of links; track links.name) {
  <p class="text-sm my-1 mx-1 text-[#5c5c5c] hover:underline cursor-pointer">
    {{ links.name }}
  </p>
  }
  <div class="flex items-center w-80 justify-center gap-2">
    <img src="download-removebg-preview.png" alt="" class="w-10" />
    <p class="text-sm text-[#464646]">LinkedIn Corporation © 2025</p>
  </div>
</div>
