<div
  class="bg-[rgba(0.5,0.5,0.5,0.5)] fixed left-0 top-0 z-50 w-full h-full flex justify-center items-center"
>
  <div class="bg-white rounded-md p-2">
    <div class="flex justify-between items-center">
      <div>
        <h1 class="text-xl font-bold">Edit About</h1>
      </div>
      <div>
        <h1
          class="hover:bg-[#ddd] p-1 transition-all duration-200 rounded-full cursor-pointer"
          (click)="changeActiveFormAbout()"
        >
          X
        </h1>
      </div>
    </div>
    <div>
      <p class="text-[#6b6b6b]">
        You can write about your years of experience, industry, or skills.
        People also talk about their achievements or previous job experiences.
      </p>
    </div>
    <form action="" [formGroup]="form">
      <input
        type="text"
        name="About"
        formControlName="About"
        class="w-full h-44 my-3 border-[#ddd] border-[2px]"
      />
    </form>
    <div class="my-2 flex justify-end">
      <button
        class="bg-blue-500 p-3 text-white font-bold hover:bg-blue-600 transition-all duration-200 rounded-full"
        (click)="createAbout()"
      >
        Save
      </button>
    </div>
  </div>
</div>
