<div>
  <div class="relative">
    <img
      src="1726632725032.jpeg"
      alt="Banner.png"
      class="rounded-t-md w-full cursor-pointer"
      routerLink="/profile"
    />
    <img
      src="WhatsApp Image 2024-10-20 at 21.44.22_3cca6ed1.jpg"
      alt="myPhoto.png"
      class="absolute top-16 left-6 rounded-full object-cover cursor-pointer"
      [ngClass]="
        RouterPath
          ? 'w-44 max-sm:w-36 top-16 max-sm:top-10 h-44 max-sm:h-36'
          : 'w-16 max-sm:w-24 top-7 h-16 max-sm:h-24'
      "
      routerLink="/profile"
    />
  </div>
  <div
    class="mx-5 max-sm:mx-7 hover:underline cursor-pointer"
    [ngClass]="RouterPath ? 'mt-20 max-sm:mt-24' : 'mt-10 max-sm:mt-10'"
    routerLink="/profile"
  >
    <h1
      class="font-semibold"
      [ngClass]="
        RouterPath ? 'text-3xl max-sm:text-2xl' : 'text-sm max-sm:text-lg'
      "
    >
      Mohamed Osama
    </h1>
    <p class="text-[#464646]">Junior-Front-End developer | GDSC instructor</p>
    <p class="text-[#9e9e9e] text-sm">6th of October, Cairo</p>
  </div>
</div>
