<div class="bg-white my-2 rounded-md p-2">
  <div class="flex items-center justify-between mx-5">
    <div>
      <h1 class="text-xl font-bold">About</h1>
    </div>
    <div class="flex items-center">
      <img
        src="Black-thin-line-pen-icon-Graphics-1-1-580x386-removebg-preview.png"
        alt="Pen.png"
        class="w-12 hover:bg-[#ddd] p-1 transition-all duration-200 rounded-full cursor-pointer"
        (click)="changeActiveFormAbout()"
      />
    </div>
  </div>
  @for (profileData of ProfileData; track profileData.id) {
  <p
    class="mx-5 text-[#929292] text-sm font-bold"
    style="font-family: sans-serif"
  >
    {{ profileData.about.title }}
  </p>
  }
</div>
