<div class="bg-white my-2 rounded-md p-2">
  <div class="flex items-center justify-between mx-5">
    <div>
      <h1 class="text-xl font-bold">Languages</h1>
    </div>
    <div class="flex items-center">
      <div class="flex flex-col">
        <img
          src="pngtree-vector-add-icon-png-image_956621-removebg-preview.png"
          alt="Add.png"
          class="w-8 hover:bg-[#ddd] p-1 transition-all duration-200 rounded-full cursor-pointer"
        />
      </div>
      <img
        src="Black-thin-line-pen-icon-Graphics-1-1-580x386-removebg-preview.png"
        alt="Pen.png"
        class="w-12 hover:bg-[#ddd] p-1 transition-all duration-200 rounded-full cursor-pointer"
      />
    </div>
  </div>
  <div class="mx-5 my-3 flex flex-col gap-5">
    <!-- @for (language of ProfileData.language; track language.id) {
    <div>
      <h1 class="text-md font-bold">{{ language.language }}</h1>
      <p class="text-[#929292] text-sm">
        {{ language.proficiency }}
      </p>
      <hr />
    </div>
    } -->
  </div>
</div>
