<div class="flex justify-around mx-48 my-7">
  <app-profile-card />

  <div class="bg-white">
    <h1>Mosha</h1>
    <h1>Mosha</h1>
    <h1>Mosha</h1>
    <h1>Mosha</h1>
    <h1>Mosha</h1>
    <h1>Mosha</h1>
    <h1>Mosha</h1>
    <h1>Mosha</h1>
    <h1>Mosha</h1>
    <h1>Mosha</h1>
    <h1>Mosha</h1>
    <h1>Mosha</h1>
    <h1>Mosha</h1>
    <h1>Mosha</h1>
    <h1>Mosha</h1>
    <h1>Mosha</h1>
    <h1>Mosha</h1>
    <h1>Mosha</h1>
    <h1>Mosha</h1>
    <h1>Mosha</h1>
    <h1>Mosha</h1>
    <h1>Mosha</h1>
    <h1>Mosha</h1>
    <h1>Mosha</h1>
    <h1>Mosha</h1>
    <h1>Mosha</h1>
    <h1>Mosha</h1>
    <h1>Mosha</h1>
    <h1>Mosha</h1>
    <h1>Mosha</h1>
    <h1>Mosha</h1>
    <h1>Mosha</h1>
    <h1>Mosha</h1>
    <h1>Mosha</h1>
    <h1>Mosha</h1>
    <h1>Mosha</h1>
    <h1>Mosha</h1>
    <h1>Mosha</h1>
    <h1>Mosha</h1>
    <h1>Mosha</h1>
    <h1>Mosha</h1>
    <h1>Mosha</h1>
    <h1>Mosha</h1>
    <h1>Mosha</h1>
    <h1>Mosha</h1>
    <h1>Mosha</h1>
    <h1>Mosha</h1>
    <h1>Mosha</h1>
    <h1>Mosha</h1>
    <h1>Mosha</h1>
    <h1>Mosha</h1>
    <h1>Mosha</h1>
    <h1>Mosha</h1>
    <h1>Mosha</h1>
    <h1>Mosha</h1>
  </div>
  <div class="bg-white">
    <h1>Mosha</h1>
  </div>
</div>
