<div>
  <div
    class="my-5 mx-2 flex max-sm:justify-between items-center gap-x-96 max-sm:gap-x-0"
  >
    <img src="download-removebg-preview.png" alt="LinkedIn_Logo" class="w-32" />
    <div class="mx-96 max-sm:mx-0 flex gap-7 max-sm:gap-0">
      <button
        class="text-[#464646] hover:bg-[#adadad] p-2 rounded-xl transition-all duration-300"
      >
        Join now
      </button>
      <button
        class="text-blue-500 font-bold border-blue-500 border-[1px] p-2 rounded-xl hover:bg-[#adadad] transition-all duration-300"
      >
        Sign in
      </button>
    </div>
  </div>
  <div
    class="my-28 max-sm:my-14 flex max-sm:flex-col-reverse justify-between text-blue-500 mx-56 max-sm:mx-0"
  >
    <div class="flex flex-col gap-40 max-sm:gap-12">
      <h1 class="text-5xl max-sm:text-2xl max-sm:text-center">
        Welcome to your professional community
      </h1>
      <div class="max-sm:flex max-sm:justify-center">
        <div
          routerLink="/HomePage"
          class="border-black border-[3px] shadow-md rounded-full w-96 max-sm:w-80 flex items-center gap-2 justify-center p-2 hover:bg-[#adadad] cursor-pointer transition-all duration-300"
        >
          <img
            src="download__1_-removebg-preview.png"
            alt="GoogleIcon"
            class="w-8"
          />
          <p class="text-lg text-[#464646] font-bold">Sign in with Google</p>
        </div>
      </div>
    </div>
    <div>
      <img
        src="https://linkedin-clone-5d195.web.app/images/login-hero.svg"
        alt="Logo"
        class="w-[40pc]"
      />
    </div>
  </div>
</div>
