@for (profiles of Profiles; track profiles.id) {
<div class="my-3 flex gap-3">
  <div>
    <div class="bg-[#ddd] w-12 h-12 rounded-full"></div>
  </div>
  <div>
    <div class="flex flex-col gap-1">
      <div>
        <h1 class="font-semibold text-sm">{{ profiles.userName }}</h1>
        <p class="text-sm text-[#464646]">
          {{ profiles.title.slice(0, 30) }}...
        </p>
        <p class="text-sm text-[#464646]">{{ profiles.education.title }}</p>
      </div>
      <div>
        <button
          class="flex items-center justify-center rounded-full gap-2 border-[#666666] hover:border-black transition-all duration-200 border-[3px] w-28"
        >
          <p class="text-lg">+</p>
          <h1 class="text-lg">Follow</h1>
        </button>
      </div>
    </div>
  </div>
</div>

}
