@if (activeFromAbout) {
<div>
  <app-add-about />
</div>
} @if (ActiveExperience) {
<div>
  <app-add-experience />
</div>
}

<div>
  <div class="bg-white h-fit pb-6 rounded-md">
    <app-profile-detail />
    <div class="mx-5">
      <p
        class="text-blue-500 font-bold hover:underline my-1 cursor-pointer"
        (click)="openPortfolio()"
      >
        Portfolio
      </p>
      <p class="text-blue-400 text-sm font-bold">0 Connections</p>
      <div class="flex max-sm:grid max-sm:grid-cols-2 gap-2 my-2">
        @for (btns of Btns; track btns.Title) {
        <button
          class="px-2 max-sm:p-1 rounded-full font-bold hover:bg-blue-700 transition-all duration-300 bg-blue-500 text-white"
        >
          {{ btns.Title }}
        </button>
        }
      </div>
    </div>
  </div>
  <div>
    <app-about />
  </div>
  <div>
    <app-experience />
  </div>
  <div>
    <app-education />
  </div>
</div>
