<div
  class="bg-white flex flex-col gap-5 h-fit p-4 w-[50pc] max-sm:w-full rounded-md"
>
  <div class="flex items-center gap-2">
    <img
      src="WhatsApp Image 2024-10-20 at 21.44.22_3cca6ed1.jpg"
      alt="Profile.png"
      class="w-16 h-14 rounded-full"
    />
    <input
      type="text"
      placeholder="Start a post"
      class="p-3 rounded-full w-full"
    />
  </div>
  <div class="flex justify-between mx-12 max-sm:mx-0">
    <button
      class="text-[#464646] hover:bg-[#adadad] p-2 transition-all duration-300 rounded-xl w-32 font-bold"
    >
      Photo
    </button>
    <button
      class="text-[#464646] hover:bg-[#adadad] p-2 transition-all duration-300 rounded-xl w-32 font-bold"
    >
      Video
    </button>
    <button
      class="text-[#464646] hover:bg-[#adadad] p-2 transition-all duration-300 rounded-xl w-32 font-bold"
    >
      Write article
    </button>
  </div>
</div>
<app-post />
<app-post />
<app-post />
<app-post />
<app-post />
<app-post />
<app-post />
<app-post />
