<div
  class="bg-[rgba(0.5,0.5,0.5,0.5)] fixed left-0 top-0 z-50 w-full h-full flex justify-center items-center"
>
  <div class="bg-white rounded-xl w-1/2 max-sm:w-full">
    <div class="p-2 rounded-md shadow-md">
      <div class="flex justify-between items-center mx-3">
        <div>
          <h1 class="text-xl font-bold">Add experience</h1>
        </div>
        <div>
          <h1
            class="hover:bg-[#ddd] p-1 text-2xl font-bold transition-all duration-200 rounded-full cursor-pointer"
            (click)="changeActiveAddExperience()"
          >
            X
          </h1>
        </div>
      </div>
    </div>
    <div class="overflow-y-scroll h-[40pc] max-sm:h-[25pc]">
      <div class="m-5">
        <p class="text-[#8b8b8b]">* Indicates required</p>
      </div>
      <form action="" [formGroup]="form">
        <app-inputs Label="Title*" Type="text">
          <input
            type="text"
            id="Title"
            class="border-[#ddd] border-[2px] rounded-md p-2 h-10"
            placeholder="Title"
            name="title"
            formControlName="title"
          />
        </app-inputs>
        <app-inputs Label="Employment type" Type="">
          <select
            #Employment_type_Value
            id="employment_type"
            class="border-[#ddd] border-[2px] rounded-md p-2"
          >
            @for (option of Options_Employment_type; track option.name) {
            <option value="{{ option.name }}">
              {{ option.name }}
            </option>
            }
          </select>
        </app-inputs>

        <app-inputs Label="Company or organization*" Type="text">
          <input
            type="text"
            id="Company"
            class="border-[#ddd] border-[2px] rounded-md p-2 h-10"
            placeholder="Ex: Microsoft"
            name="company"
            formControlName="company"
          />
        </app-inputs>
        <p class="mx-4 flex gap-3 my-3">
          <input type="checkbox" />
          <span class="text-[#929292] font-bold"
            >I am currently working in this role</span
          >
        </p>

        <app-inputs Label="Start Date*" Type="">
          <select
            #Start_Date_Value
            id="start_Date"
            class="border-[#ddd] border-[2px] rounded-md p-2"
          >
            @for (months of months; track months.name) {
            <option value="{{ months.name }}">{{ months.name }}</option>
            }
          </select>
        </app-inputs>

        <app-inputs Label="End Date*" Type="">
          <select
            #End_Date_Value
            id="end_Date"
            class="border-[#ddd] border-[2px] rounded-md p-2"
          >
            @for (months of months; track months.name) {
            <option value="{{ months.name }}">{{ months.name }}</option>
            }
          </select>
        </app-inputs>

        <app-inputs Label="Location" Type="text">
          <input
            type="text"
            id="Location"
            class="border-[#ddd] border-[2px] rounded-md p-2 h-10"
            placeholder="Location"
            name="location"
            formControlName="location"
          />
        </app-inputs>
        <app-inputs Label="Location type" Type="text">
          <select
            #Location_type_Value
            id="location_type"
            class="border-[#ddd] border-[2px] rounded-md p-2"
          >
            @for (location of Location_Type; track location.name) {
            <option value="{{ location.name }}">{{ location.name }}</option>
            }
          </select>
        </app-inputs>
        <app-inputs Label="Skills" Type="text" />
      </form>
      <hr class="h-4 my-2 mx-3" />
    </div>
    <div class="bg-white shadow-md rounded-xl p-3">
      <div class="my-2 flex justify-end">
        <button
          class="bg-blue-500 w-20 h-10 text-white font-bold hover:bg-blue-600 transition-all duration-200 rounded-full"
          (click)="createExperience()"
        >
          Save
        </button>
      </div>
    </div>
  </div>
</div>
