<div class="bg-white my-2 rounded-md p-2">
  <div class="flex items-center justify-between mx-5">
    <div class="flex items-center gap-3">
      <h1
        class="text-xl font-bold hover:bg-[#8b8b8b] transition-all duration-200 rounded-full cursor-pointer"
        routerLink="/profile"
      >
        <
      </h1>
      <h1 class="text-xl font-bold">Experience</h1>
    </div>
    <div class="flex items-center">
      <img
        src="pngtree-vector-add-icon-png-image_956621-removebg-preview.png"
        alt="Add.png"
        class="w-8 hover:bg-[#ddd] p-1 transition-all duration-200 rounded-full cursor-pointer"
      />
    </div>
  </div>
</div>
