<div class="bg-white my-2 rounded-md p-2 relative">
  <div class="flex items-center justify-between mx-5">
    <div>
      <h1 class="text-xl font-bold">Experience</h1>
    </div>
    <div class="flex items-center">
      <div class="flex flex-col">
        <img
          src="pngtree-vector-add-icon-png-image_956621-removebg-preview.png"
          alt="Add.png"
          class="w-8 hover:bg-[#ddd] p-1 transition-all duration-200 rounded-full cursor-pointer"
          (click)="setActiveCreatePosition()"
        />
      </div>
      <img
        src="Black-thin-line-pen-icon-Graphics-1-1-580x386-removebg-preview.png"
        alt="Pen.png"
        class="w-12 hover:bg-[#ddd] p-1 transition-all duration-200 rounded-full cursor-pointer"
        routerLink="details/experience"
      />
    </div>
  </div>
  @if (ActiveCreatePosition) {
  <div
    class="bg-white shadow-xl shadow-black rounded-xl w-40 absolute right-16 flex flex-col"
  >
    <div
      class="hover:bg-[#ddd] p-3 rounded-md transition-all duration-300 cursor-pointer"
    >
      <h1 (click)="changeActiveAddExperience()">Add Position</h1>
    </div>
    <div
      class="hover:bg-[#ddd] p-3 rounded-md transition-all duration-300 cursor-pointer"
    >
      <h1>Add career break</h1>
    </div>
  </div>
  }

  <div class="m-5 flex flex-col gap-3">
    @for (profileData of ProfileData; track profileData.id) { @for (experience of
    profileData.Experience; track experience.id) {
    <div>
      <h1 class="font-bold text-xl">{{ experience.title }}</h1>
      <p class="text-md text-[#8b8b8b]">
        {{ experience.company }}-{{ experience.employmentType }}
      </p>
      <p class="text-md text-[#8b8b8b]">
        {{ experience.startData }}-{{ experience.endData }}
      </p>
      <p class="text-md text-[#8b8b8b]">
        {{ experience.location }} - {{ experience.locationType }}
      </p>
    </div>
    <hr class="h-3" />
    } }
  </div>
</div>
