<div class="bg-white p-3 rounded-md">
  <h1 class="font-semibold">Today's puzzle games</h1>
  <app-game
    gameName="Tango"
    hrefImage="png-transparent-game-launcher-game-interface-play-menu-button-3d-icon-thumbnail-removebg-preview.png"
    Bio="Harmonize the grid"
  />
  <app-game
    gameName="Queens"
    hrefImage="png-transparent-game-launcher-game-interface-play-menu-button-3d-icon-thumbnail-removebg-preview.png"
    Bio="Crown each region"
  />
  <app-game
    gameName="Pinepoint"
    hrefImage="png-transparent-game-launcher-game-interface-play-menu-button-3d-icon-thumbnail-removebg-preview.png"
    Bio="Guess the category"
  />
  <app-game
    gameName="Crossclimb"
    hrefImage="png-transparent-game-launcher-game-interface-play-menu-button-3d-icon-thumbnail-removebg-preview.png"
    Bio="Unlock a trivia ladder"
  />
</div>
