@if (getPostList().length > 0) { @for (postList of getPostList(); track
postList.title) {
<div class="bg-white p-3 my-2 rounded-md">
  <div class="flex justify-between">
    <div class="flex items-center gap-2">
      <img
        src="WhatsApp Image 2024-10-20 at 21.44.22_3cca6ed1.jpg"
        alt="myPhoto.png"
        class="w-14 h-14 rounded-full object-cover -my-5 mx-3 cursor-pointer"
      />
      <div>
        <h1 class="font-bold">{{ postList.userName }}</h1>
        <p class="text-sm text-[#464646]">
          Junior-Front-End developer | GDSC instructor
        </p>
        <p class="text-sm text-[#464646]">10m</p>
      </div>
    </div>
    <div class="flex gap-4 items-center h-fit">
      <h1 class="font-bold">...</h1>
      <h1 (click)="DeletePost(postList.id)" class="cursor-pointer">X</h1>
    </div>
  </div>
  <div class="my-2">
    <h1>{{ postList.title }}</h1>

    <!-- This Comment Explan this Post -->
    <div class="flex items-center justify-between">
      <div>
        @if (postList.likes == 1) {
        <div class="flex items-center gap-1">
          <img
            src="https://static-exp1.licdn.com/sc/h/2uxqgankkcxm505qn812vqyss"
            alt="Like.png"
            class="w-4 my-2"
          />
          <h1>{{ postList.likes }}</h1>
        </div>
        }
      </div>
      <div class="flex items-center">
        <p
          class="text-sm text-[#949494] hover:underline cursor-pointer"
          (click)="getPostById(postList.id)"
        >
          {{ postList.comments.length }} Comments
        </p>
      </div>
    </div>
    <hr class="h-1 my-2" />
  </div>
  <div class="flex justify-between gap-2 mx-10">
    <button
      class="hover:bg-[#adadad] w-full rounded-xl p-1 transition-all duration-300"
      (click)="updatePost(postList.id)"
    >
      Like: {{ postList.likes }}
    </button>
    <button
      class="hover:bg-[#adadad] w-full rounded-xl p-1 transition-all duration-300"
    >
      Comment
    </button>
    <button
      class="hover:bg-[#adadad] w-full rounded-xl p-1 transition-all duration-300"
    >
      Repost
    </button>
    <button
      class="hover:bg-[#adadad] w-full rounded-xl p-1 transition-all duration-300"
    >
      Send
    </button>
  </div>
  <div class="my-3">
    <div class="flex justify-between items-center gap-2">
      <div class="flex items-center gap-3">
        <img
          src="WhatsApp Image 2024-10-20 at 21.44.22_3cca6ed1.jpg"
          alt="image.png"
          class="w-10 h-10 object-cover rounded-full"
        />
        <form action="" [formGroup]="form">
          <input
            type="text"
            name="Comment"
            formControlName="Comment"
            class="w-full h-10 rounded-full px-4 border-[#ddd] border-[3px]"
            placeholder="Add a comment"
          />
        </form>
      </div>
      <div>
        <button
          class="bg-blue-500 hover:bg-blue-600 transition-all duration-300 p-2 rounded-full text-white font-bold w-fit"
          (click)="CreateComment(postList.id)"
        >
          Comment
        </button>
      </div>
    </div>
  </div>
  @if (ActiveComment()) { @for (comments of postList.comments; track
  comments.id) {
  <div class="my-3">
    <div class="flex gap-3 my-10">
      <img
        src="WhatsApp Image 2024-10-20 at 21.44.22_3cca6ed1.jpg"
        alt=""
        class="w-10 h-10 rounded-full object-cover"
      />
      <div>
        <h1 class="text-sm font-bold">{{ comments.userName }}</h1>
        <p class="mx-3 text-[#474747]">{{ comments.text }}</p>
      </div>
    </div>
  </div>
  } }
</div>

} } @else {
<div class="flex justify-center my-3">
  <h1 class="text-red-500 font-bold">No Posts Yet!</h1>
</div>
}
